<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Coursurf</title>
    </head>

    <body>
        <header>


        </header>
        <section>
            <h2>Coursurf is the ultimate online platform for finding and comparing courses from top providers. With Coursurf, you can easily search and compare courses based on your interests, budget, and learning goals. Whether you're looking to upskill in a new subject, enhance your career prospects, or simply follow a personal passion, Coursurf provides you with all the information you need to make informed decisions about your education. Our website aggregates courses from leading providers, so you can compare options and find the perfect course for you. Get started today and take the first step towards reaching your educational goals.</h2>

            <a href="https://sergiolema.dev/the-spring-boot-academy"
            targer="_blank">More Details</a>
        </section>
        <footer>
            <p> Achala Nayak</p>
        </footer>


    </body>
</html>